/* all element selector */
body{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}
/* id selector */
#main-title {
    background-color: grey;
    height: 80px;
    width: 100%;
    color: whitesmoke;
    font-size: 50px;
    display: flex;
    /* horizontally center */
    justify-content: center;
    /* vertically center */
    align-items: center; 
}
#main-body{
    margin: 10px;
    display: flex;
    justify-content: space-around;
}
/* class selector */
.Card{
    border-radius: 10px;
    min-height: 300px;
    /* border-bottom: width type color; */
    border-bottom: 4px solid red;
    width: 250px;
    /* box-shadow: x-offset y-offset blur-radius spread-radius color; */
    box-shadow: 3px 3px 20px 10px grey;
}
.CardTitle{
    height: 60px;
    background-color: red;
    font-size: 30px;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: top-left top-right bottom right bottom-left; */
    border-radius: 10px 10px 0px 0px;
}
.CardBody{

}